* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 90, 90);
    text-align: center;

}

.container {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}

.messageC {
    height: 10vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}



.message {
    background-color: black;
    height: 40px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}




.btn {
    background-color: crimson;
    color: black;
    height: 18vmin;
    width: 18vmin;
    text-align: center;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    box-shadow: inset;
}

#name {
    font-size: 50px;
}

#reset {
    background-color: black;
    color: aliceblue;
    height: 40px;
    width: 70px;
}

#newgame {
    background-color: black;
    color: aliceblue;
    height: 40px;
    width: 70px;


}


.message {
    color: aliceblue;
}